@import url("https://fonts.googleapis.com/css2?family=Comfortaa&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
@import "variables";

* {
    font-family: "Comfortaa", "Poppins", sans-serif;
}

h1 {
    color: var(--light) !important;
    text-align: center !important;
}

h2 {
    color: var(--featured-lighter) !important;
    text-align: center !important;
}

h3 {
    color: var(--featured-lighter) !important;
    text-align: center !important;
}
span {
    color: var(--featured-darker) !important;
}

.v-btn {
    border-radius: 8px !important;
    border-color: var(--featured-lighter) !important;
    background-color: var(--light) !important;
    text-decoration: none !important;
    max-width: auto;
    font-size-adjust: auto;
    margin: 1px;
    margin-bottom: 5px;
    span {
        color: var(--featured-lighter) !important;
    }
    &:hover {
        background-color: var(--featured-lighter) !important;
        color: var(--light) !important;
        text-decoration-color: var(--light) !important;
        border-color: var(--featured-lighter) !important;
        margin: 1px;
        margin-bottom: 5px;
        span {
            color: var(--light) !important;
        }
    }
}

.v-icon {
    border-radius: 8px !important;
    border-color: var(--featured-darker) !important;
    color: var(--featured-darker) !important;
    text-decoration: none !important;
    background-color: transparent !important;
    &:empty {
        color: var(--featured-darker) !important;
    }
}
.v-btn.btnPrincipal {
    border-color: var(--featured-darker) !important;
    background-color: var(--featured-darker) !important;
    border-radius: 8px;
    span {
        color: var(--light) !important;
    }
    &:hover {
        color: var(--dark) !important;
        border-color: var(--dark) !important;
        background-color: var(--featured-darker) !important;
        border-radius: 8px;
    }
}
.btnLink {
    background-color: transparent !important;
    border-radius: 8px !important;
    &:hover {
        background-color: transparent !important;
    }
    .v-icon {
        color: var(--light) !important;
    }
}

.v-text-field {
    label {
      color: var(--featured-darker) !important;
    }
    input {
      background-color: transparent;
      color: var(--featured-lighter) !important;
    }
    .v-input__slot::after {
      border-color: var(--featured-lighter) !important;
    }
    .v-input__slot::before {
      border-color: var(--featured-lighter) !important;
    }
    .v-label--active label {
      color: var(--featured-lighter) !important;
    }
    .v-icon {
      color: var(--featured-lighter) !important;
    }
  }
  .v-select__selection {
    color: var(--featured-darker) !important;
  }
  .v-list-item__title {
    color: var(--featured-darker) !important;
    border-radius: 8px;
  }
